//? color variables

// ** Text Color
$text_green: #81eae5;
$text_black: #3c2344;
$text_orange: #ff815d;
$text_red: #ff6371;
$text_purple: #955cff;
$text_nav: #a3acb9;
$text_grey: #adb9c9;
$text_pink: #fe5694;
$text_white: #ffffff;
$text_lightBlack: #30242a;
$text_lightBlue: #98d8f4;
$text_pureBlack: #000000;

$message_pink: #fe4e86;
$message_btn: #ffedf0;

// ** Background Color
$bg_red: #fe5694;
$bg_lightgreen: #e5f5f7;
$bg_lightgrey: #f7f9fc;
$bg_purple: #c29eff;
$bg_lightred: #ffedf0;

// *** icon color
$icon_fb: #2196f3;
$icon_insta: #ff6371;
$icon_youtube: #e84949;
$icon_snapchat: #ffeb3b;
$icon_pinterest: #d84949;
$icon_tiktok: #000000;
