@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font:'Poppins', sans-serif;

$heading-max : 38px;
$heading-one : 32px;
$heading-two: 28px;
$heading-three: 20px;
$heading-four: 16px;
$normal-text: 16px;
$secondary-text: 14px;



.heading2{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color:rgb(122, 255, 255);
}