@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font:'Poppins', sans-serif;

$heading-max : 38px;
$heading-one : 32px;
$heading-two: 28px;
$heading-three: 20px;
$heading-four: 16px;
$normal-text: 16px;
$secondary-text: 14px;


